/* Permet de masquer temporairement dans le menu avec gelules du rop pro les entrées caracteristiques et autour de vous */ 

body.pro .pro-style a[href="#rop-caracteristiques"], 
body.pro .pro-style a[href="#zone-publiable-basse-accueil"] {
    display: none;
}

/* Permet de ne pas tomber sur le cas de menu caché */ 
.menuStable{
top: 70px !important;
}


/* Action rapide effectuer un virement dans rop pro > permet d'afficher la bonne icone alors que la classe dans l'appli n'est pas la bonne */ 

body.pro .wrapper-rop-1 ul.actions-rapides li.action-virement i.icon-printer {
    background: url(/rsc/contrib/image/generique/actions-rapides/faire-virement.png);
    background-position: center 0;
    height: 50px;
    width: 50px;
}


/* messagerie */
.wrapper-messagerie .nav-messagerie .content-filtre .flt-sd {
    display: none;
}

div#ocnet_vide .xml-section level1 {display: inline-block;}
#ocnet_vide p{text-align: center;}

#wrapper-ocnet-confirmation div.level1:nth-of-type(2), #wrapper-ocnet-fonctionnalites div.level1:nth-of-type(2), #wrappper-push-produits div.level1:nth-of-type(2) {
    padding: 20px 20px 70px 30px;
}

#wrappper-produit div.level1 div.level2 div.level3 div.level4:first-of-type div.level5 p span.ocnet-textWhite-big {text-align: left;}

#wrappper-push-produits div.level1:nth-of-type(2) { padding: 20px 0px 70px;}
#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li a { text-decoration : none}
#wrappper-push-produits div.level1 p.oc-net-infos { padding: 20px 25px 20px 75px;}
.container-message .body-msg p { padding: 5px 0; text-align: initial;}
#wrapper-ocnet-confirmation div.level1:last-of-type, #wrapper-ocnet-confirmation div.level1:nth-of-type(2) { padding: 0 10px;}
#wrappper-produit div.level1 div.level2 div.level3 div.level4 { padding: 35px 30px 35px 30px;}

#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li span.onglet-assurance { background-color: #E3514B; color: #fff; border-radius: 25px; padding: 2px 21px; }
#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li span.onglet-bourse { background-color: #2491EE; color: #fff; border-radius: 25px; padding: 2px 21px; }
#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li span.onglet-carte { background-color: #5DC66A; color: #fff; border-radius: 25px; padding: 2px 21px; }
#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li span.onglet-compte { background-color: #5DC66A; color: #fff; border-radius: 25px; padding: 2px 21px; }
#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li span.onglet-credit { background-color: #993BA7; color: #fff; border-radius: 25px; padding: 2px 21px; }
#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li span.onglet-epargne { background-color: #2491EE; color: #fff; border-radius: 25px; padding: 2px 21px; }
#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li span.onglet-mobile { background-color: #D262A5; color: #fff; border-radius: 25px; padding: 2px 21px; }
#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li span.onglet-protection { background-color: #FE9B0A; color: #fff; border-radius: 25px; padding: 2px 21px; }

#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li.fp-complement-assurance { border-color: #E3514B; }
#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li.fp-complement-bourse { border-color: #2491EE; }
#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li.fp-complement-carte { border-color: #5DC66A; }
#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li.fp-complement-compte { border-color: #5DC66A; }
#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li.fp-complement-credit { border-color: #993BA7; }
#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li.fp-complement-epargne { border-color: #2491EE; }
#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li.fp-complement-mobile { border-color: #D262A5; }
#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li.fp-complement-protection { border-color: #FE9B0A; }

#wrappper-produit div.level1 div.level2 div.level3 div.level4:first-of-type div.level5 p span.ocnet-textWhite-medium{font-size: 3rem;}

#wrappper-produit div.level1 div.level2 div.level3 div.level4:first-of-type div.wcm-image { width: 18%;}
#wrappper-produit div.level1 div.level2 div.level3 div.level4:first-of-type div.level5 p:last-of-type {padding-left: 15px;}

#wrappper-push-produits .level1:nth-of-type(2) .level2 ul li a { width: 100%; }


/* meg masque bouton comparer */
.meg .avantages a.btn-.compareButton {
display: none;
}

/*affichage de l'icon print si body.print*/

.print .list-outils a.icon-print {display: inline-block; }
.print .list-outils {width: 90px;}
.print  .site-size-container{
    right: 100px;
    top: 25px;
}

/*fixes udc temp*/
#wcm-l-nav-udc{height:0;}

/*fixes rop*/
div#showGrapMob{
    display: none;
}



.rop-wrapper .header-select .infos {
margin-top: -15px;
}

/* hide QA export excel*/
#ActionsRapides .rop-actions .white-box.action-releve {display: none;}


/* fix gellules udcartes Mes contrats */

body.pro #ia-udcarte ul.onglet li:nth-child(3), 
body.pro #ia-udcarte ul.onglet li:nth-child(2),
body.pro #wcm-l-nav-udc ul.onglet li:nth-child(3) {
    display:none;
}


/*fix udc header*/
.header-udc .info-totaux span.no-mob{display: none;}


/*fix udc-mosaique*/

.list-vue3 li{padding-top:1rem}

.list-vue3 .udc-liquidite .a-venir:after {
    content: "";
    background-image: url(/rsc/contrib/image/particuliers/udc/avenir-sprite.png);
    height: 60px;
    width: 63px;
    left: 0;
    top: 2rem;
    margin-left: 30px;
    position: absolute;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.udc h4.udc-lib{margin-top:2.5rem}
span.icon +  h4.udc-lib{margin-top:0;}

/*fix udc quick access */

 .pro .qa-fam1-masquer,
 .bpf .qa-fam1-masquer, 
 .qa-fam2-masquer,
 .qa-fam3-masquer, 
 .qa-fam4-masquer, 
 .qa-fam567-masquer,
 .qa-fam89-masquer,
 .qa-fam5-masquer, 
 .qa-fam6-masquer ,
 .qa-fam7-masquer,  
 .qa-fam8-masquer ,
 .qa-fam9-masquer {display:none;} 



.udc-ajouter-compte{display:none !important;}


.list-vue3 .udc-liquidite .a-venir.op-positif:after {background-position: center top; }
.list-vue3 .udc-liquidite .a-venir.op-negatif:after {background-position: center center; }

/** Popin CP deconnexion **/

body div.castor-popin { z-index: 201; }
body div.castor-content.castor-height-500 > div { padding-top: 50px !important; }

body div.castor-popin div.castor-content.castor-height-500{
width:90%;
max-width:1000px;
}

body div.castor-popin div.castor-content div p { margin: 0; }
body div.castor-popin div.castor-content div a.castor-button.castor-one { 
    width: 120px;
    text-align: center;
 }

body #container-popin-construction div.castor-content.castor-height-500 > div { padding-top: 100px !important; }

/*Virements*/
 #virement-permanent-etape4 {
    padding-bottom: 120px;
}

/*fix udc assurrances*/

.wrapper-assurances .doquickAction{display:none:}





/*fix bpf une-des-carte*/
.bpf .udc.cartes .js-detail-toggle>.row-border:nth-child(4),
.bpf .udc.cartes .js-detail-toggle>.row-border:nth-child(5),
.bpf .udc.cartes .js-detail-toggle>.row-border:nth-child(6),
.bpf .udc.cartes .js-detail-toggle>.row-border:nth-child(7){display: none;}

/*dynacaap*/
.dynacaap .arbitrages{
    display:none;
}

.bpf.preview .votre-magazine,.bpf.preview #mon-agenda,.bpf.preview .mes-favoris{
display:block;
}

/* fix bpf pour dossier fiscal 2015 */
/*div.contenu-dossier-fiscal {padding:27px;}
fp_faq > div.contenu-dossier-fiscal > ul
.table-border.contenu-dossier-fiscal {padding:10px;}
.table-striped {color:#F5F5F5; /* #fff; }*/


/*fixes responsive*/
@media screen and (max-width : 768px) {
    
    /*ident*/

    #identLayer .message-erreur{
        min-height: 0;
        padding-top: 0;

    }

    .barre-recherche.js-expand .key-word-search { display:none;}
    /*rop*/
    .rop-wrapper .header-select .dropdown-header .editable-container,
    div#showGrapMob{display:none;}

    .list-rop .rop-montant{width: inherit; text-align: inherit; padding-left: inherit;}
    .list-rop .rop-montant>.positif{text-align: inherit; display: inherit;}
    .list-rop .rop-detail.col-60{width: 80%;}
        

    /* on masque l'entree demat dans virement en mode mobile*/
    #nav3-virement-services-child-li7{display: none;}

    /*udc*/
    
    /*en attenant relivraison du bon code par les sous-traitants
    .barre-recherche.js-expand.br-udc{padding-left: 0;}
    .barre-recherche.js-expand.br-udc .key-word-search{display: none}
    .barre-recherche.js-expand.br-udc .filtre-tri{
        width: 100%;
    }*/

/*virement*/

    #goto-virement-beneficiaire{display: none;}
    #virement-historique #btn-rech{font-size: 0;}   


    /*popin castor et polux*/
    
    .castor-content.castor-vertically-horizontally-centered.castor-height-500{
        width: 300px;
        background-position: center top;
    }

    div.castor-popin div.castor-content > .castor-column-6{
        width: 80%;
    }

    div.castor-popin div.castor-content div.castor-checkbox input[type=radio]:not(old) + label{
    line-height: 1;
    min-height:25px;
    }

    #deconnexion_appli .col-50.level3 div>img{height:400px;}

    /* home */
    #content_accueil_part_3 div{right: -2%; top: 20%; width: 50%;}
    #content_accueil_part_3_large_banner div>img{margin-left: -17%;}

}

/* homepage */

ul.nav-cross-footer {
    display: none;
}

/* visionneuse pdf cachée */
.container-mes-documents .parameters {display: none;}

/* Cache bouton voir démo dans autorisation prélèvement */
#ia-sepawl .header-page .transparent-btn { display: none; }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* fix fp_popin IE9 */

body.mw-1920 .fp_popin {width:1920px\9;}
body.mw-1600 .fp_popin {width:1600px\9;}
body.mw-1400 .fp_popin {width:1400px\9;}
@media screen and (max-width: 1400px) {
    body.mw-1920 .fp_popin, body.mw-1600 .fp_popin, body.mw-1400 .fp_popin {width:100%\9;}
}

/* hide ZP commande chéquier */
#zone-publiable-haute-commande-etape1, #zone-publiable-basse-commande-etape1, #zone-publiable-haute-commande-etape2, #zone-publiable-basse-commande-etape2, #zone-publiable-haute-commande-etape3, #zone-publiable-basse-commande-etape3, #zone-publiable-haute-historique, #zone-publiable-basse-historique {display:none;}


/* taille par défaut = 1400 */
.bottom-header, .bottom-header-connected, .ls-canvas { max-width: 1400px;}
body.mw-1400 .ls-canvas, body.mw-1400 .bottom-header, body.mw-1400 .bottom-header-connected { max-width: 1400px;}
body.mw-1600 .ls-canvas, body.mw-1600 .bottom-header, body.mw-1600 .bottom-header-connected { max-width: 1600px;}
body.mw-1920 .ls-canvas, body.mw-1920 .bottom-header, body.mw-1920 .bottom-header-connected { max-width: 1920px;}

/* correction affichage tooltip fiche fond versement régulier */
.link-fiche-fond-pdf .help-text-popup {min-width: 450px;}

/* Masquer les montants mes documents */
.container-mes-documents .wrapper-mes-documents .dropdown-container .montant-vir{display:none;}

/* mefav - cacher barre obsolète remontée par l'outil */
#id_balise_div .onglet.assurance-vie {display: none;}


/* suppression bouton plus de détails sur Esprit libre détail contrat */
#ia-espritlibre #goToUDCC { display:none;}


/* Bouton télécharger le relevé */
#downloadReleveRop {
    border: solid 1px #CCC;
    border-left: none;
    height: 60px;
    padding: 15px 0 0 0;
    text-align: center; 
}
.recherche-rop-avenir #downloadReleveRop {
    border-left: solid 1px #CCC;
}

#downloadReleveRop .icon-download-alt {
    font-size: 25px;
    color: #787878;
}
.recherche-rop .key-word-search { width:20%; }
@media screen and (max-width: 768px) {
.recherche-rop .filtre-tri { width: 40%; }
}

/* On cache le crayon erreur de script */
.rop-wrapper .header-page .icon-stylo {
display: none;
}




/*Modif priority */


/* Fix pour que le seul bon plan du hub priority ne prenne que 50% de la largeur */
.priority #wrapper-priority-bonsplans div.level2.table-row {
    width: 50%; 
}





/*Modif BPF */

div.level1.fpbpf_header div.fpbpf_quicknav ul li.fp-quickaccess{display:none}

/* Livret jeune */
[display=none] { display: none }


#wcm-l-tsmb-en-pratique{height:1515px;}

/* Correction affichage de la popin messagerie */
#popuplength {-moz-box-shadow: 0px 0px 5px 0px #656565;-webkit-box-shadow: 0px 0px 5px 0px #656565;-o-box-shadow: 0px 0px 5px 0px #656565;box-shadow: 0px 0px 5px 0px #656565;filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);}
#popupLength a.close{float:right;}
#popupLength .popover-content {text-align:center;}
#popupLength .popover-content p{display:inline-block; padding-left:1%;}
#popupLength .cercle {background-color: #e64444; background-image: linear-gradient(#e64444, #d30072); border-radius: 50%; color: #fff; font-family: arial; font-size: 50px; font-weight: 700; height: 70px; line-height: 1.3; padding: 3px 0 0; text-align: center; width: 70px;} 

/* Quick access cartes */
[qa-key="documents"], 
[qa-key="soucription"], 
[qa-key="effectuerRetrait"] { display: none; }

/* quick access Mes assurances */
#template-liste-assurance [id="00010"], 
#template-liste-assurance [id="00007"] { display: none; }

/* fix pour pages crédits conso */
div#wrapper-hub-offre-col100 p.fp-mentions-big{font-size:1.5em;}

/* fix bannière vente flash BAQ */
div#wrapper-hub-offre-col50 div.level2.fpbpf_headerTop p>span{font-family:bnpp_sans_condensed_light,Arial,sans-serif;font-size:2em;text-transform:uppercase;line-height:1.3em;}
span.venteflash{font-size:2.8em;font-weight:bold;}
span.venteflash-gras{font-size:2.5em;font-weight:bold;}
div#wrapper-hub-offre-col50 div.level2.fpbpf_headerTop a{display:inline-block;margin-top:2rem;color:#fff;}
div#wrapper-hub-offre-col50 div.level2.fpbpf_headerTop span a{color:#fff;padding:5px 25px;}
div#wrapper-hub-offre-col100 span.pointer.btn-primary a{color:#fff;padding:5px 25px;}
p.conditions-offre{color:#fff;position:absolute;padding:0px 10px 0 25px;bottom:-3px;text-shadow: 0px 0px 2px #000, 1px 1px 10px #000;}

/* fiche informationnelles - souscrire */
div#fp_infosSouscrire h3 { color: #5DC66A; font-size: 3rem;}

/* fiche informationnelles - eco-dico */
#wrapper-gabarit-libre div.level2 .level3.gl-section-categorie2 div.table-cell:nth-of-type(2) { width: 44%; padding-left: 40px; }
#wrapper-gabarit-libre p.infos-videos-eco { width: 70%; text-align: justify; padding: 0px; min-height: 0px; }

/* fiche produit fin commercialisation */
div#fp_offres p.btn-primary { width: 20%}
div#fp_offres p.btn-primary > a { color: #fff;}

/* fiche produit avec bannière jeu */
div#fp_jeu { clear: both; padding: 15px 25px; }
div.fp-jeu-fond-assurance { background-color: #EEBC09; background-image: linear-gradient(360deg, #ED973C, #EE5842); }
div.fp-jeu-fond-bourse { background-color: #1EC7F2; background-image: linear-gradient(360deg, #1EC7F2, #2279E0); }
div.fp-jeu-fond-epargne { background-color: #1EC7F2; background-image: linear-gradient(360deg, #1EC7F2, #2279E0); }
div.fp-jeu-fond-protection { background-color: #EEBC09; background-image: linear-gradient(360deg, #EEBC09, #FE9B0A); }
div.fp-jeu-fond-mobile { background-color: #D262A5; background-image: linear-gradient(360deg, #D262A5, #A5406B); }
div.fp-jeu-fond-carte { background-color: #5DC66A; background-image: linear-gradient(360deg, #5DC66A, #1C9F5D); }
div.fp-jeu-fond-compte { background-color: #5DC66A; background-image: linear-gradient(360deg, #5DC66A, #1C9F5D); }

div#fp_jeu p.duree-offre { text-transform: uppercase; color: #FFF; position: absolute; top: 767px; right: 20rem; }
div#fp_jeu p.duree-offre > span.icon-chrono { font-size: 2.45rem; padding: 8px; display: block; color: #fff; }
div#fp_jeu p.venteflash { border-radius: 0; border: 2px solid #FFF; width: 25%; font-size: 1rem; color: #FFF; text-transform: uppercase; text-align: center; padding: 10px 20px; margin-bottom: 25px; }
div#fp_jeu p.promo { border-right: 1px solid #fff; padding: 10px 20px; width: 25%; display: inline-block; }
div#fp_jeu p.promo > span.promo { text-transform: uppercase; font-family: bnpp_sans_condensed_regular, Arial, sans-serif; color: #fff; line-height: 0.977em; font-size: 2.4rem; letter-spacing: 0.144rem; }
div#fp_jeu p.promo > span.promo > span { text-transform: uppercase; font-size: 3.2rem; letter-spacing: 0.266rem; color: #fff; }
div#fp_jeu p.ventedetails { color: #fff; padding: 6px 15px 20px 60px; font-size: 1.333rem; letter-spacing: 0.088rem; display: inline-block; }
div#fp_jeu p.ventedetails > span { color: inherit; font-size: 1.844rem; }
/* div#fp_jeu p { width : 50%;  text-align: center; padding-right: 27px; }*/
div#fp_jeu p > span.btn-secondary.small a { color: #000; }



/* fiche informationnelles BAC / Rentrée */
#wrapper-gabarit-libre div.level2 .level3.gl-section-presentation2 p.fi-mentions-big { font-size:1.5em; }
#wrapper-gabarit-libre div.level3 .level4.gl-section-presentation3 h3 > span.fi-titre-couleur-vert { color: #1B9B5B; }
#wrapper-gabarit-libre div.level3 .level4.gl-section-presentation2 h3 > span.fi-titre-couleur-vert { color: #1B9B5B; }
#wrapper-gabarit-libre div.level2 .level3.gl-section-presentation2 p.fi-titre-couleur-vert { color: #1B9B5B; }
#wrapper-gabarit-libre ul li > span.fi-titre-couleur-vert { color: #1B9B5B; }

/* resize des images dans fiches informationnelles*/
p#image_fi001, p#image_fi002, p#image_fi003, p#image_fi004, p#image_fi005, p#image_fi006 span>img{width:50%;}

/* hide messages messagerie */
/*[data-type="BONS_PLANS"], .flt-bp, .flt-sd, .info-msg {display: none;visibility: hidden;}
.preview [data-type="BONS_PLANS"], .preview .flt-bp, .preview .flt-sd, .preview .info-msg {display: block;visibility: visible;}
.machine [data-type="BONS_PLANS"], .machine .flt-bp, .machine .flt-sd, .machine .info-msg {display: block;visibility: visible;}*/



/* table-border avec cellules colorées */
.table-striped>tbody>tr:nth-of-type(odd){background-color:#e7e7e7;}
.xml-table .table-border .table-striped > td { padding:10px;}

/* table-border BPF avec cellules colorées */
.table-striped-bpf>tbody>tr:nth-of-type(odd){background-color:#f5f1ed;}
.xml-table .table-border .table-striped > td { padding:10px;}

/* mentions légales pages produits */
#fp_main_content #fp_presentation #fp_infos_carre p.fp-ml-carre {padding: 7px 10px;}

/* cache boutons action sur histoppo */
#ia_histoppo header .row.actions-rapides { display: none;}
#ia_histoppo section.opo-historique h2 { font-size : 2rem;}

/* sub nav HBC */
header.hbc-releves, header.hbc-recherche, header.hbc-ordres, header.hbc-mouvements, header.hbc-opcvm { display: none}
body.hbc-releves header.hbc-releves,
body.hbc-recherche header.hbc-recherche,
body.hbc-ordres header.hbc-ordres,
body.hbc-mouvements header.hbc-mouvements, 
body.hbc-opcvm header.hbc-opcvm { display: block;}
body.hbc-releves header.hbc-titres,
body.hbc-recherche header.hbc-titres,
body.hbc-ordres header.hbc-titres,
body.hbc-mouvements header.hbc-titres, 
body.hbc-opcvm header.hbc-titres { display: none;}
header.hbc-default { display:none;}
body.bourse header.hbc-default { display:block;}

/* chat text display */
.mod-chat .message p { word-break: normal;}

/* home fix */
#accueil_particuliers .level2:first-of-type .slideHome {color: hsl(0, 0%, 100%);position: absolute;right: 10%;top: 20%;}
#accueil_particuliers #content_accueil_part.graph > div .popover p {font-size: 1rem; line-height: 1rem; margin: 0; padding: 0;}

/* NCI - pret immo fix */
#form-demande-immo-etape-1 .help-text-container,
#form-demande-immo-etape-1 [name="frais_notaire"] {display: none;}

/* zones publiables banking */
#voteAg #zonePubliableBasse, #voteAg #zonePubliableHaute {display: none;}
.icon.icon-gammeOpcvm:before {content: "\e661"; }

/* Messagerie */
.js-number-unread-msg-recu { display: none; }
.nb-messages .round-img { display: none; }
.part .nb-messages .round-img,
.bpf .nb-messages .round-img  { display: block;}

/* udc titres -> hide lien relevés de cessions */
.list-vue1.udc-titre .qa-fam4-revenus {display: none;}

/* vcd */
#vcd-caract-header-page .dropdown-container-header { display: none; }
#vcd-caract-header-page .btn-select { display: none; }
#vcd-caract-header-page .dropdown-container { cursor: initial; }

/* Cache icon print dans visionneuse */
#toolbar .icon-print { display: none; }

#wapper-home-bpf #pourcDiv{width : 360px; position: absolute; right: 20px; color: #FFF; bottom: 100px; }
#wapper-home-bpf #pourcDiv h2{font-size: 3.4rem;}
#wapper-home-bpf #pourcDiv canvas{cursor:pointer; margin:0 5px 10px 0; float:left;}
#wapper-home-bpf #pourcDiv > div{position: relative;}
#wapper-home-bpf #pourcDiv > div > p{position: relative; top: 5em;   text-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 10px rgba(0, 0, 0, 1);}
#wapper-home-bpf #pourcDiv .popover{color:#494949; bottom:-118px; left:-50px;}
#wapper-home-bpf #pourcDiv .popover p{margin:0;}
#wapper-home-bpf #pourcDiv .popover p span{color:#b2965d;}
#wapper-home-bpf .xml-section.level2.bpf-home-header{overflow:visible;}

@media screen and (max-width: 1100px) {
    #wapper-home-bpf #pourcDiv{width:285px; bottom:auto; top:20px;}
    #wapper-home-bpf #pourcDiv canvas{float:none;}
    #wapper-home-bpf #pourcDiv div p{position: relative; top: 0;}
}

/*Correction des problèmes BPF affichage top header */
#topHeader {
    display: none;
}

.content .list- li{
	display:block !important;
}
/* suppression double header MCS accessible */
#ia-modifiercodesecret .header-page.has-onglet {display: none;}

/* padding leonardo */
#ia-leonardo {padding-top: 40px;background-color: hsl(0, 0%, 92%);}